{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-md-8">
                <div class="card border-0 bg-transparent">
                    <div class="card-body">
                        <div class="display-1 lh-sm boldonse-regular text-uppercase mb-3">Llunio <br/> Studios</div>
                        <div class="">
                            Bespoke concrete creations.
                        </div>
                        <div class="mb-5">
                            Enlightening soon.
                        </div>
                        <div class="text-muted small">info@lluniostudios.co.uk</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

