###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> pentatrion/vite-bundle ###
/public/build/
/node_modules/
###< pentatrion/vite-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

/docker/*

/public/uploads/*
